name: Deployment pipeline

env:
  SKIP: ${{ contains(toJson(join(github.event.commits.*.message)), '#skip') }}

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies 
        run: npm install  
      - name: lint
        run: npm run eslint
      - name: build
        run: npm run build
      - name: test
        run: npm run test
      # - name: Install Playwright Browsers
      #   run: npx playwright install --with-deps
      # - name: Run Playwright tests
      #   run: npm run test:e2e
      # - uses: actions/upload-artifact@v4
      #   if: ${{ !cancelled() }}
      #   with:
      #     name: playwright-report
      #     path: playwright-report/
      #     retention-days: 30
      - name: Trigger deployment
        if: ${{ github.event_name == 'push' && env.SKIP == 'false' }}
        run: curl https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}
  tag_release:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Bump version and push tag
        if: ${{ github.event_name == 'push' && env.SKIP == 'false' }}
        uses: anothrNick/github-tag-action@4ed44965e0db8dab2b466a16da04aec3cc312fd8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
  notification:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Success
        uses: rjstone/discord-webhook-notify@v2
        if: ${{ success() }}
        env:
          WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: echo $"WEBHOOK"
        with:
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
          severity: info
      - name: Failure
        uses: rjstone/discord-webhook-notify@v2
        if: ${{ !success() }}
        with:
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
          severity: error 