# name: Deployment pipeline

# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches: [main]
#     types: [opened, synchronize]

# jobs:
#   simple_deployment_pipeline:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#       - uses: actions/setup-node@v4
#         with:
#           node-version: '20'
#       - name: Install dependencies 
#         run: npm install  
#       - name: lint
#         run: npm run eslint
#       - name: build
#         run: npm run build
#       - name: test
#         run: npm run test
#       - name: Install Playwright Browsers
#         run: npx playwright install --with-deps
#       - name: Run Playwright tests
#         run: npm run test:e2e
#       - uses: actions/upload-artifact@v4
#         if: ${{ !cancelled() }}
#         with:
#           name: playwright-report
#           path: playwright-report/
#           retention-days: 30
#       - name: Trigger deployment
#         if: ${{ github.event_name == 'push' }}
#         run: curl https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}
#   tag_release:
#     needs: [simple_deployment_pipeline]
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#       - name: Bump version and push tag
#         if: ${{ github.event_name == 'push' }}
#         uses: anothrNick/github-tag-action@1.75.0
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#           DEFAULT_BUMP: patch
name: Testing stuff

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  a_test_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: commits
        env:
          COMMITS: ${{ toJson(github.event.commits) }}
        run: echo "$COMMITS"
      - name: commit messages
        env:
          COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
        run: echo "$COMMIT_MESSAGES"